* {
    font-family: "montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /* background: #333; */
    min-height: 100vh;
    background-image: linear-gradient(45deg, #9fbaa8, #31354c);
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#update-time {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.title {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 900;
}

.switch-btn {
    width: 70px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: .5s;
    background: linear-gradient(45deg, #9fbaa8, #31354c);
    background-size: 200%;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ffffff;
    color: #ffffff;
}

.switch-btn:hover{
    background-position: right;
}

#page-index01 {
    background-position: right;
}

.board {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
}