html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

#top {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    display: flex;
    justify-content: center;

    border: solid;
}

#top1 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top1-btn {
    width: 35%;
    height: 50%;
}

#top2 {
    width: 50%;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top3 {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#chart {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    display: flex;
    justify-content: center;
}

#left {
    width: 30%;

    border: solid;
}

#left-title {
    height: 5%;
    font-size: 18px;
    font-weight: 700;
}

#left-chart {
    height: 95%;

    background-color: aqua;
}

#middle {
    width: 40%;

    border: solid;
}

#middle-title {
    height: 5%;
    font-size: 18px;
    font-weight: 700;
}

#middle-chart {
    height: 95%;

    background-color: aqua;
}

#right {
    width: 30%;

    border: solid;
}

#right-title {
    height: 5%;
    font-size: 18px;
    font-weight: 700;
}

#right-chart {
    height: 95%;

    background-color: aqua;
}