body {
    margin: 0;
}

#title {
    position: absolute; /* 绝对定位 */
    width: 40%;
    height: 10%;
    top: 0;
    left: 30%;
    font-size: 25px;
    display: flex; /* 弹性布局 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

#time {
    position: absolute;
    width: 30%;
    height: 10%;
    top: 0;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Iosevka';
    font-size: 20px;
}

#left1 {
    position: absolute;
    width: 30%;
    height: 55%;
    top: 0;
    left: 0;
}

#left2 {
    position: absolute;
    width: 30%;
    height: 45%;
    top: 55%;
    left: 0;
}

#middle1 {
    position: absolute;
    width: 40%;
    height: 25%;
    top: 10%;
    left: 30%;
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

.middle1_num {
    width: 20%;
    height: 60%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Iosevka';
    font-size: 32px;
    font-weight: 700;
}

.middle1_text {
    width: 20%;
    height: 40%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}

#middle2 {
    position: absolute;
    width: 40%;
    height: 65%;
    top: 35%;
    left: 30%;
}

#right1 {
    position: absolute;
    width: 30%;
    height: 45%;
    top: 10%;
    left: 70%;
}

#right2 {
    position: absolute;
    width: 30%;
    height: 45%;
    top: 55%;
    left: 70%;
}