* {
    font-family: "montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /* background: #333; */
    min-height: 100vh;
    background-image: linear-gradient(45deg, #9fbaa8, #31354c);
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#update-time {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.title {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 900;
}

.switch-btn {
    width: 70px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: .5s;
    background: linear-gradient(45deg, #9fbaa8, #31354c);
    background-size: 200%;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ffffff;
    color: #ffffff;
}

.switch-btn:hover{
    background-position: right;
}

.board {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
}

.board-1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    /* background-color: red; */
}

.left {
    position: absolute;
    top: 0;
    width: 25%;
    height: 90%;
    /* background-color: #ffffff; */
}

#left-1 {
    width: 100%;
    height: 50%;
}

#left-2 {
    width: 100%;
    height: 50%;
    /* background-color: green; */
    margin-left: 4px;
}

#middle {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 90%;
    /* background-color: yellow; */
}
.right {
    position: absolute;
    top: 0;
    left: 75%;
    width: 25%;
    height: 90%;
    /* background-color: #ffffff; */
}

#right-1 {
    width: 100%;
    height: 50%;
}

#right-2 {
    width: 100%;
    height: 50%;
    /* background-color: green; */
}

.board-2 {
    position: absolute;
    top: 70%;
    width: 100%;
    height: 200px;
    /* background-color: #ffffff; */
}

#bottom {
    height: 100%;
    /* background-color: #fff; */
}



#left2-title {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

#risk_wrapper{
	margin-top: 2.5%;
	overflow: hidden;
	height: 80%;
	text-align: center;
}
.hight-risk{
	color: red;
    font-weight: 700;
}
.middle-risk{
	color: yellow;
}
#left-2 ul{
	list-style: none;
    padding-left: 0;
}
#left-2 li{
	color: white;
	text-align: justify;
	font-size: 12px;

}

#left-num {
    font-size: 12px;
}

#left1-num1 {
    color: red;
}

#left1-num2 {
    color: yellow;
}