html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

#title {
    position: absolute; /* 绝对定位 */
    width: 40%;
    height: 10%;
    top: 0;
    left: 30%;
    font-size: 46px;
    font-weight: 700;
    display: flex; /* 弹性布局 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

#info {
    position: absolute;
    width: 30%;
    height: 10%;
    top: 0;
    left: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: 'Iosevka';
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

#operator {
    position: absolute;
    width: 30%;
    height: 10%;
    top: 0;
    left: 0;
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

#left1 {
    position: absolute;
    width: 30%;
    height: 45%;
    top: 10%;
    left: 0;
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

#left2 {
    position: absolute;
    width: 30%;
    height: 45%;
    top: 55%;
    left: 0;
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

#middle1 {
    position: absolute;
    width: 40%;
    height: 15%;
    top: 10%;
    left: 30%;
    font-family: "Iosevka";
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

.middle1_1 {
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add1_1 {
    color: #999999;
    font-size: 24px;
}
#add1_2 {
    color: #999999;
    font-size: 24px;
}
#add1_3 {
    color: #999999;
    font-size: 24px;
}
#add1_4 {
    color: #999999;
    font-size: 24px;
}
#add1_1 span {
    color: #e61c1d;
    font-size: 24px;
}
#add1_2 span {
    color: #ae3ac6;
    font-size: 24px;
}
#add1_3 span {
    color: #178b50;
    font-size: 24px;
}
#add1_4 span {
    color: #4e5a65;
    font-size: 24px;
}
#num1_1 {
    color: #e61c1d;
    font-size: 46px;
    font-weight: 700;
}
#num1_2 {
    color: #ae3ac6;
    font-size: 46px;
    font-weight: 700;
}
#num1_3 {
    color: #178b50;
    font-size: 46px;
    font-weight: 700;
}
#num1_4 {
    color: #4e5a65;
    font-size: 46px;
    font-weight: 700;
}
#tetx1_1 {
    font-size: 32px;
    font-weight: 700;
}
#tetx1_2 {
    font-size: 32px;
    font-weight: 700;
}
#tetx1_3 {
    font-size: 32px;
    font-weight: 700;
}
#tetx1_4 {
    font-size: 32px;
    font-weight: 700;
}

#middle2 {
    position: absolute;
    width: 40%;
    height: 75%;
    top: 25%;
    left: 30%;
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

#right1 {
    position: absolute;
    width: 30%;
    height: 45%;
    top: 10%;
    left: 70%;
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

#right2 {
    position: absolute;
    width: 30%;
    height: 45%;
    top: 55%;
    left: 70%;
    border-width: 1px;
    border-color: red;
    border-style: solid;
}