<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新冠肺炎疫情数据可视化系统</title>
    <link rel="stylesheet" href="../static/css/404.css">
</head>

<body>
    <div id="error-page">
        <h1>404 Not Found</h1>
        <p>抱歉，您访问的页面不存在，请检查页面 URL 是否有误！不用担心，我们将帮助您返回正确的页面。</p>
        <a class="underline" href="/">返回首页</a>
    </div>
</body>

</html>