<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新冠肺炎疫情传播模式分析与可视化</title>
    <link rel="stylesheet" href="../static/css/index01.css">
</head>

<body>
    <div class="mian">
        <div class="header">
            <div class="switch">
                <button id="back-index" class="switch-btn" onclick="window.location.href='/'">返回首页</button>
                <button id="page-index00" class="switch-btn" onclick="window.location.href='/index00'">基础数据</button>
                <button id="page-index01" class="switch-btn" onclick="window.location.href='/index01'">传播分析</button>
            </div>
            <div class="title">
                <h1>新冠肺炎疫情传播模式分析与可视化系统</h1>
            </div>
            <div id="update-time">正在载入数据更新时间...</div>
        </div>
        <div class="board"></div>
    </div>

    <script src="../static/js/index01.js"></script>
</body>

</html>