<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新冠肺炎疫情传播模式分析与可视化</title>
    <link rel="stylesheet" href="../static/css/index01.css">
</head>

<body>
    <div>
        <div id="top">
            <div id="top1">
                <button class="top1-btn" onclick="window.location.href='/'">基础数据</button>&nbsp;&nbsp;
                <button class="top1-btn" onclick="window.location.href='/index01'">传播分析</button>
            </div>
            <div id="top2">新冠肺炎疫情传播模式分析与可视化</div>
            <div id="top3"></div>
        </div>
        <div id="chart">
            <div id="left">
                <div id="left-title">xx省交通流入/流出趋势</div>
                <div id="left-chart"></div>
            </div>
            <div id="middle">
                <div id="middle-title">全国交通流向</div>
                <div id="middle-chart"></div>
            </div>
            <div id="right">
                <div id="right-title">xx省交通流出 TOP 地区</div>
                <div id="right-chart"></div>
            </div>
        </div>
    </div>

    <script src="../static/js/index01.js"></script>
</body>

</html>