<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新冠肺炎疫情传播模式分析与可视化系统</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/echarts-4.8.0.min.js"></script>
    <script src="../static/js/china.js"></script>
</head>
<body>
    <div id="title">title</div>
    <div id="time">0000</div>
    <div id="left1">left1</div>
    <div id="left2">left2</div>
    <div id="middle1">
        <div class="middle1_num">0000</div>
        <div class="middle1_num">0000</div>
        <div class="middle1_num">0000</div>
        <div class="middle1_num">0000</div>
        <div class="middle1_num">0000</div>
        <div class="middle1_text">现存确诊</div>
        <div class="middle1_text">今日新增确诊</div>
        <div class="middle1_text">累计确诊</div>
        <div class="middle1_text">累计治愈</div>
        <div class="middle1_text">累计死亡</div>
    </div>
    <div id="middle2">m2</div>
    <div id="right1">right1</div>
    <div id="right2">right2</div>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/middle2.js"></script>
</body>
</html>