<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新冠肺炎疫情传播模式分析与可视化</title>
    <link rel="stylesheet" href="../static/css/index00.css">
    <script src="../static/js/framework/jquery-3.6.0.min.js"></script>
    <script src="../static/js/framework/echarts.min.js"></script>
    <script src="../static/js/framework/china.js"></script>
</head>

<body>
    <div>
        <div id="top">
            <div id="top1">
                <button class="top1-btn" onclick="window.location.href='/'">基础数据</button>&nbsp;&nbsp;
                <button class="top1-btn" onclick="window.location.href='/index01'">传播分析</button>
            </div>
            <div id="top2">新冠肺炎疫情传播模式分析与可视化</div>
            <div id="top3">更新时间</div>
        </div>
        <div id="chart">
            <div id="left">
                <div id="left1">
                </div>
                <div id="left2">
                </div>
            </div>
            <div id="middle">
                <div id="middle1">
                    <div class="middle1_1">
                        <div id="add1_1">
                            较上日 <span>0000</span>
                        </div>
                        <div id="num1_1">0000</div>
                        <div id="tetx1_1">现存确诊</div>
                    </div>
                    <div class="middle1_1">
                        <div id="add1_2">
                            较上日 <span>0000</span>
                        </div>
                        <div id="num1_2">0000</div>
                        <div id="tetx1_2">疑似确诊</div>
                    </div>
                    <div class="middle1_1">
                        <div id="add1_3">
                            较上日 <span>0000</span>
                        </div>
                        <div id="num1_3">0000</div>
                        <div id="tetx1_3">累计治愈</div>
                    </div>
                    <div class="middle1_1">
                        <div id="add1_4">
                            较上日 <span>0000</span>
                        </div>
                        <div id="num1_4">0000</div>
                        <div id="tetx1_4">累计死亡</div>
                    </div>
                </div>
                <div id="middle2">
                </div>
            </div>
            <div id="right">
                <div id="right1">
                </div>
                <div id="right2">
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/chart/left1.js"></script>
    <script src="../static/js/chart/middle2.js"></script>
    <script src="../static/js/chart/right1.js"></script>
    <script src="../static/js/index00.js"></script>
</body>

</html>