<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/echarts-5.3.2.min.js"></script>r
    <script src="../static/js/china.js"></script>
</head>
<body>
    <div id="main" style="width: 600px; height: 600px;"></div>
    <script>
        var myChart = echarts.init(document.getElementById('main'));

        var option = {
            
        }

        myChart.setOption(option);
    </script>
</body>
</html>